<h3 class="text-center">Follow Or Unfollow</h3>

<% if @users.empty? %>
  <h1 id="no-user">No Users to Follow</h1>
<% else %>
  <% @users.each do |user| %>
    <%= render "user", { :user => user } %>
  <% end %>
<% end %>