<h3 class="text-centered">Add new Tweet</h3>

<div class="row">
  <div class="col-md-12">

  <%= form_for( @tweet, :html => {class: "form-horizontal", role: "form"} ) do |f| %>
    <div class="form-group">
      <div class="control-label col-md-1">
        <%= f.label :Tweet %>
      </div>
      <div class="col-md-11">
        <%= f.text_area :body, rows: 10, class: 'form-control', placeholder: 'Body of Tweet' %>
      </div>
    </div>

    <div class="form-group">
      <div class="col-md-offset-1 col-md-11">
        <%= f.submit "Post", class: 'btn btn-primary btn-lg pull-right' %>
      </div>
    </div>
  <% end %>

  </div>
</div>