<article class="detail-tweet">

  <div class="tweet-body">
    <%= @tweet.body %>
  </div>
  <div class="tweet-date">
    <%= @tweet.created_at.strftime("%b %d %Y") %>
  </div>

  <div class="edit-delete">
      <%= link_to "Edit Tweet", edit_tweet_path(@tweet), class: "btn btn-primary btn-lg btn-space" %>
    </div>

</article>