<article class="detail-tweet">

  <div class="tweet-body">
    <%= @tweet.body %>
  </div>
  <div class="tweet-date">
    <%= @tweet.created_at.strftime("%b %d %Y") %>
  </div>

  <% if user_signed_in? && current_user == @tweet.user %>
    <div class="edit-delete">
      <%= link_to "Edit Tweet", edit_tweet_path(@tweet), class: "btn btn-primary btn-lg btn-space" %>
      <%= link_to "Delete Tweet", tweet_path(@tweet), method: :delete,
        data: { confirm: "Are you sure you want to delete this tweet?" }, class: "btn btn-primary btn-lg btn-space" %>
    </div>
  <% end %>

</article>