@import "bootstrap-sprockets";
@import "bootstrap";


body {
  padding-top: 80px;
  color: #000;
  background: #e1e1e1;
}

.navbar {
 background: #343A3D;
 padding-bottom: 20px;
}

.navbar-default .navbar-brand {
  padding-top: 25px;
  font-size: 150%;
  font-weight: bold;
  color: #fff;
}

.navbar-default .navbar-brand:hover {
  color: #fff;
}

.navbar-nav {
  padding-top: 10px;
  padding-right: 20px;
}

.navbar-default .navbar-nav li > a {
  font-weight: bold;
  font-size: 130%;
  color: #fff;
}

.navbar-default .navbar-nav li > a:hover {
  color: #fff;
}

.page-heading, div > label {
  color: #000;
}

.tweet-body {
  white-space: pre-line;
  font-size: 1.5em;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.tweet-body a, .tweet-body a:hover {
  color: #000;
  text-decoration: none;
}

.tweet-date {
  padding-left: 1.2em;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
}

.tweet-detail {
  margin-top: 20px;
  color: #000;
}

.tweet-detail-title {
  font-size: 3em;
  margin-bottom: 40px;
}

.tweet-show-body {
  font-size: 1.5em;
  padding-left: 0em;
  margin-top: 15px;
}

.edit-delete {
  margin-top: 20px;
}

.sign-link a {
  color: #000;
}